#!/usr/bin/env bash

set -euo pipefail

. direnv/use_nix.sh

use_nix -s shell.nix \
  -w nix/sources.nix \
  -w nix/shell.nix \
  -w nix/nixpkgs.nix \
  -w nix/haskell/overlay.nix \
  -w nix/haskell/default.nix \
  -w demo.cabal